{% include "stats/partials/header.html"%}

<form class="container">
  <h3>Create a new Mobile Mast for leeds</h3>
  <div class="form-group">
    <label for="property_name">Property Name</label>
    <input type="text" class="form-control" id="property_name " name="property_name" value="">
  </div>
  <div class="form-group">
    <label for="Property_Address_line_1">Property Address line 1</label>
    <input type="text" class="form-control" id="Property_Address_line_1"  name="Property_Address_line_1" value="">
  </div>
  <div class="form-group">
    <label for="Property_Address_line_2">Property Address line 2</label>
    <input type="text" class="form-control" id="Property_Address_line_2" name="Property_Address_line_2" value="">
  </div>
  <div class="form-group">
    <label for="Property_Address_line_3">Property Address line 3</label>
    <input type="text" class="form-control" id="Property_Address_line_3" name="Property_Address_line_3" value="">
  </div>
  <div class="form-group">
    <label for="Property_Address_line_4">Property Address line 4</label>
    <input type="text" class="form-control" id="Property_Address_line_4" name="Property_Address_line_4" value="">
  </div>
  <div class="form-group">
    <label for="Unit_Name">Unit Name</label>
    <input type="text" class="form-control" id="Unit_Name" name="Unit_Name" value="">
  </div>
  <div class="form-group">
    <label for="Tenant_Name">Tenant Name</label>
    <input type="text" class="form-control" id="Tenant_Name" name="Tenant_Name" value="">
  </div>
  <div class="form-group">
    <label for="Lease_Start_Date">Lease Start Date</label>
    <input type="date" class="form-control" id="Lease_Start_Date" name="Lease_Start_Date" value="">
  </div>
  <div class="form-group">
    <label for="Lease_End_Date">Lease End Date</label>
    <input type="date" class="form-control" id="Lease_End_Date"name="Lease_End_Date" value="">
  </div>
  <div class="form-group">
    <label for="Lease_Years">Lease Years</label>
    <input type="number" class="form-control" id="Lease_Years" name="Lease_Years" value="">
  </div>
  <div class="form-group">
    <label for="Current_Rent">Current Rent</label>
    <input type="number" class="form-control" id="Current_Rent" name="Current_Rent" min="6600" step="2"value="">
  </div class="form-group">
  <input type="submit" class="btn btn-primary" name="create_property" value="Create Lease Data">
</form>
