{% include "stats/partials/header.html"%}

<form class="container">
  <h3>Create a new Mobile Mast for leeds</h3>
  <a href="{% url 'table' %}">Back to Lists</a>
  <div>
    <h4>Property Name</h4>
    <input type="text" name="property_name" value="">
  </div>
  <div>
    <h4>Property Address line 1</h4>
    <input type="text" name="Property_Address_line_1" value="">
  </div>
  <div>
    <h4>Property Address line 2</h4>
    <input type="text" name="Property_Address_line_2" value="">
  </div>
  <div>
    <h4>Property Address line 3</h4>
    <input type="text" name="Property_Address_line_3" value="">
  </div>
  <div>
    <h4>Property Address line 4</h4>
    <input type="text" name="Property_Address_line_4" value="">
  </div>
  <div>
    <h4>Unit Name</h4>
    <input type="text" name="Unit_Name" value="">
  </div>
  <div>
    <h4>Tenant Name</h4>
    <input type="text" name="Tenant_Name" value="">
  </div>
  <div>
    <h4>Lease Start Date</h4>
    <input type="date" name="Lease_Start_Date" value="">
  </div>
  <div>
    <h4>Lease End Date</h4>
    <input type="date" name="Lease_End_Date" value="">
  </div>
  <div>
    <h4>Lease Years</h4>
    <input type="number" name="Lease_Years" value="">
  </div>
  <div>
    <h4>Current Rent</h4>
    <input type="number" name="Current_Rent" min="6600" step="2"value="">
  </div>
  <input type="submit" name="create_property" value="Create Lease Data">
</form>
