<!-- <html lang="en"> -->

<head>
  {% load static from staticfiles %}
  <title>Mobile Masts in Leeds</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.11.2/dist/bootstrap-table.min.js"></script>
  <script type="text/javascript" src="{% static '\js\mobile_masts_table.js' %}"></script>
</head>
<body>

  <h2 class="jumbotron">Mobile phone masts - 02/09/2016</h2>


  <div>
    <a href="/web_app/create/">Add Another Mast</a>
  </div>

  </div>
  <div class="container">
    <table class="table">

        {{ html|safe }}


      </table>
  </div>


</body>
<!-- </html> -->
