
  <div class="container">
    <nav class="">
      <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'table' %}">Main Table<span class="sr-only">(current)</span></a></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'table_five' %}">Condenced table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'date_list' %}">Date specific table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'total_rent' %}">Total rent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dictionary' %}">Dictionary table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create' %}">Add Another Mast</a>
        </li>

      </ul>
    </nav>
  </div>
